header {
  width: 1024px;
  margin: 10px auto;
  font-size: 22px;
  font-weight: bold;
}

nav {
  background-color: #213c60;
  color: white;

  > div {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    > a {
      display: block;
      padding: 13px 15px 13px 0;
      margin-right: 25px;
      text-decoration: none !important;
      color: white !important;
      width: 80px;

      &.active {
        font-weight: bold;
        border-top: 4px solid transparent;
        border-bottom: 4px solid #f7bf19;
      }

      &:hover {
        font-weight: bold;
      }
    }
  }
}

main {
  width: 1024px;
  margin: 0 auto;
  padding: 10px 0;
}

.highlight {
  position: relative;
  background-color: #fff !important; /* Fundo branco para o destaque */
  border: 2px solid #ccc; /* Borda para definir o destaque */
  border-radius: 5px; /* Arredondar bordas */
  padding: 5px; /* Espaçamento para evitar sobreposição */
  z-index: 1001 !important; /* Garante que o destaque esteja acima dos outros elementos */
}

.highlight::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: transparent; /* Fundo transparente ao redor do destaque */
  border: 2px solid #ccc; /* Borda para o destaque */
  border-radius: 5px; /* Arredondar bordas do destaque */
  z-index: -1; /* Garante que o destaque esteja abaixo do conteúdo */
}

.disable-interaction {
  pointer-events: none;
}

.tooltip {
  position: absolute;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 1000;
}

.tooltip-arrow {
  position: absolute;
  top: 50%;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
  transform: translateY(-50%);
}

.teste-tooltip {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
