.tour-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparente para o fundo */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.tour-step {
  position: absolute;
  background: #fff; /* Fundo branco do popup */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none; /* Sem sombras no popup */
  text-align: center;
  max-width: 300px;
}
