<div class="container">
  <div class="walkthrough-container">
    <div class="seta"></div>
    <div class="conteudo">
      <div class="header">
        <h1>Gerar Recomendação</h1>
        <button type="button" role="button">1 de 5</button>
      </div>
      <span
        >Para gerar uma recomendação e necessario colocar um CPF ou CNPJ</span
      >
      <div class="footer">
        <span>Pular Tutorial</span>
        <button type="button" role="button">Proximo</button>
      </div>
    </div>
    <div></div>
  </div>
</div>
